
body {
  width: 100% !important;
  min-width: 100%;
  margin: 0;
  padding: 0;
}


table {
  //@include test;
  font-family: Arial, sans-serif;
  margin: 0 auto;

  tr,
  td {
    //@include test;
    padding: 0 12px;
  }
}

.table-body {
  //@include test;
  width: 100%;
}





.main-content {
  background-color: $white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  table {
    width: 100%;
    max-width: 600px;
  }
}



.button {
  background: $brand;
  padding: .5em 1em;
  display: inline-block;
  border-radius: 5px;
  color: $white;
  font-family: sans-serif;
  text-decoration: none;

  &.inline {
    font-size: .7em;
    padding: .05em .5em;
    border-radius: 3px;
  }

  &:hover {
    background: shade($brand, 20%);
  }

  span {
    margin-left: .5rem;
    font-size: .7rem;
  }
}









.main-footer {
  background-color: $black;
  color: $white;
  background-position: left top;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  p,
  i,
  .apple-link a,
  a {
    color: $white;
    font-size: 12px;

    @include breakpoint($xs-down) {
      font-size: 11px !important;
    }
  }

  table {
    width: 100%;
    max-width: 600px;
    margin: 24px auto;
  }

}



.white-footer {
  background-color: $white;
  color: $dark-grey;
  background-position: left top;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  p,
  i,
  .apple-link a,
  a {
    color: $dark-grey;
    font-size: 12px;

    @include breakpoint($xs-down) {
      font-size: 11px !important;
    }
  }

  table {
    width: 100%;
    max-width: 600px;
    margin: 24px auto;
  }

}

.social-footer {
  a {
    margin-right: 1em;
    display: inline-block;
    border-radius: 5px;
  }

  .insta-footer {
    background-color: $instagram;
  }

  .twitter-footer {
    background-color: $twitter;
  }

  .fb-footer {
    background-color: $facebook;
  }

  img {
    @include size(32px);
    display: block;
  }
}



.logos-sponsor {
  //@include test;
  // width: 100%;
  // height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  table {
    width: 100%;
    max-width: 600px;
    text-align: center;
  }

  a {
    //@include test;
    margin: 0;
    display: inline-block;
  }

  img {
    //@include test;
    @include size(108px);
    display: block;
  }
}



.pull-sponsor {
  //@include test;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 12px;

  table {
    border: 1px solid $lighter-grey;
    width: 100%;
    max-width: 600px;
    margin: 12px auto;

    td {
      padding: 18px;
      vertical-align: top;
    }
  }


  p {
    font-family: 'Playfair Display', serif;
    text-align: left;
    letter-spacing: .9px;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  a {
    margin: 0;
    display: inline-block;
  }

  img {
    //@include test;
    @include size(90px);
    display: block;

    @include breakpoint($xs-down) {
      display: none;
    }
  }

  .sponsor-image {
    @include breakpoint($xs-down) {
      display: none;
    }
  }

}

.follow {
  //@include test;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 12px;
  //background: tint($black, 2%);
  //color: $white;

  table {
    width: 100%;
    max-width: 600px;
    margin: 12px auto;
  }
}

.follow-modual {
  //@include test;
  width: 100%;
  text-align: center;
  border-spacing: 6px;
  border-collapse: separate;

  td {
    //@include test;
    width: 33%;
    padding: 0;

    @include breakpoint($xs-down) {
      width: 100% !important;
      display: block;
      margin-bottom: 12px;
    }

  }

  a {
    color: $white;
    display: block;
    border-radius: 100px;
    text-decoration: none;
    font-family: sans-serif;
    margin-top: 0;
    padding: 12px;
  }

  .instagram a {
    background-color: $instagram;
  }

  .twitter a {
    background-color: $twitter;
  }

  .facebook a {
    background-color: $facebook;
  }

}
