$campfire: #320d5d;
$button: #b301c0;

body,
html {
  background-color: $campfire;
}

::selection {
  color: $white;
  background-color: $button;
}

.logos-sponsor {
  background-color: $campfire;
  color: $white;


  p,
  h3 {
    color: $white;
  }

}

.main-header {
  //@include test;
  background-image: url('http://podcamptoronto.com/external/img/raster/2019/emails/campfire-bg.jpg');
  background-color: $campfire;
  background-position: center top;
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: $white;

  p,
  h1 {
    color: $white;
  }


  table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 48px;
  }

  img {
    @include size(100px);
  }


  .button {
    background-color: $button;

    &:hover {
      background-color: shade($button, 20%);
    }
  }
}


.main-content {
  background-color: $black;
  padding: 12px;

  a {
    color: tint($button, 60%);

    &:hover {
      color: tint($button, 40%);
    }
  }

  h2 {
    margin-top: 0;

    strong {
      font-weight: $semi;
      border-bottom: 0;
      background-color: $button;
      padding: 0 6px;
    }
  }

  table {
    background-color: $black;
    color: $white;
    border: 3px solid $button;



    td {
      padding: 24px;
    }
  }
}



.tree-content {
  background-color: $campfire;
  background-image: url('http://podcamptoronto.com/external/img/raster/2019/emails/campfire-t-bg.png');
  background-color: $campfire;
  background-position: center bottom;
  background-size: contain;
  background-repeat: repeat-x;

  height: 200px;


  @include breakpoint($xs-down) {
    height: 100px;
  }
}


.camp-hero {
  //@include test;
  text-align: center;

  img {
    margin-bottom: -100px;
  }

  td {
    text-align: center;
  }

  .num {
    //@include test;
    font-size: 300px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.2em;
  }


  .days {
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    line-height: 1em;
  }


  .left {
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    line-height: 1em;
  }
}






