
.nominate-header {
  //@include test;
  background-image: url('http://podcamptoronto.com/external/img/raster/2019/emails/email-award-bg-laurels.png');
  background-color: $black;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: $white;


  h1 {
    color: $white;
  }

  p {
    color: $white;
  }

  table {
    width: 100%;
    max-width: 600px;
    margin: 100px auto 48px;
  }

  img {
    max-width: 600px;
    width: 100%;
  }

  table {
    //@include test;
    width: 100%;
    max-width: 600px;
    margin: 3px auto 12px;

    &.locations {
      td {
        font-size: 1.3em;
        width: 70%;
        padding: 0 12px 0 0;

        @include break($max: 500px) {
          width: 100%;
          display: block;
          margin-bottom: 12px;

          br {
            display: none;
          }
        }

        &.join {
          text-align: right;

          @include break($max: 500px) {
            text-align: left;
          }
        }
      }

      h5 {
        color: $white;
        margin: 6px 0;
      }

      small,
      strong {
        display: block;
      }

      .adr {
        font-size: .8em;
        display: block;
        color: $white;
      }

      a {
        font-size: .8em;
        //display: block;
        color: $lighter-blue;
        margin-top: 6px;
      }
    }
  }
}




.awards-footer {
  background-color: $white;
  color: $black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  p,
  i,
  .apple-link a,
  a {
    color: $black;
    font-size: 12px;

    @include breakpoint($xs-down) {
      font-size: 11px !important;
    }
  }

  table {
    width: 100%;
    max-width: 600px;
    margin: 24px auto;
  }

}


.social-footer {
  a {
    margin-right: 1em;
  }

  img {
    @include size(32px);
  }
}




.hind-sponsor {
  //@include test;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 12px;


  table {
    background-image: url('http://podcamptoronto.com/external/img/raster/email-sponsors/hind-bg.png');
    background-color: shade($lighter-grey, 90%);
    background-position: center center;
    background-size: cover;
    //border: 1px solid $lighter-grey;
    width: 100%;
    max-width: 600px;
    margin: 12px auto;
    text-align: center;
    color: $white;

    td {
      padding: 18px;
      vertical-align: top;
    }
  }


  p {
    font-family: 'Playfair Display', serif;
    text-align: left;
    letter-spacing: .9px;
    font-size: 1.1em;
    line-height: 1.5em;
    padding-top: 1em;
    border-top: 1px solid $dark-grey;
  }

  a {
    margin: 0;
    display: inline-block;
    color: $white;
  }

  img {
    //@include test;
    @include size(90px);
    display: block;
    margin: 0 auto;
  }


}
