
$submit: $black;

table.submitlive-body {
  background-image: url('http://podcamptoronto.com/external/img/raster/2019/emails/email-submit-bg.png');
  background-color: $submit;
  background-position: right bottom;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  background-size: cover;

  @include breakpoint($sm-down) {
    background-image: url('http://podcamptoronto.com/external/img/raster/2019/emails/email-submit-bgm.png') !important;
    background-position: right top !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
  }

  .content-body a {
    @include linkcolor (darken($submit, 10%), darken);
  }

  .content-header {
    color: $white;

    small {
      color: lighten($submit, 20%);
    }
  }

  table.footer {
    color: lighten($submit, 30%);

    a {
      @include linkcolor (lighten($submit, 30%), lighten);
    }
  }




  .social-body {
    //background-color: $submit;
    border-top: 1px solid $submit;
    border-bottom: 1px solid $submit;
    color: $dark-grey;

    .button {
      color: $white;
    }

    a {
      @include linkcolor ($white, darken);
    }
  }

}
